* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    font-family: 'Lato', sans-serif;
}

.visually-hidden {
    position: absolute;
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0,0,0,0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}

/* Nav */

.menu-icon {
    height: 30px;
    width: 30px;
    position: fixed;
    z-index: 20;
    left: 3.5vw;
    top: 30px;
    cursor: pointer;
}

.menu-icon__line {
    height: 2px;
    width: 30px;
    display: block;
    background-color: #F23030;
    margin-bottom: 4px;
    transition: transform 0.2s ease, background-color 0.5s ease;
}

.menu-icon__line-left {
    width: 15px;
}

.menu-icon__line-right {
    width: 15px;
    float: right;
}

.nav {
    position: fixed;
    z-index: 10;
}

.nav:before, .nav:after {
    content: "";
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(234, 234, 234, .2);
    z-index: -1;
    transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
    transform: translateX(0%) translateY(-100%);
}

.nav:after {
    background: #F29F05;
    transition-delay: 0s;
}

.nav:before {
    transition-delay: 0.1s;
}

.nav__content {
    position: fixed;
    top: 50%;
    transform: translate(0%, -50%);
    width: 100%;
    text-align: center;
    font-size: calc(3vw + 10px);
    font-weight: 300;
    height: 0;
    overflow: hidden;
}

.nav__list-item {
    position: relative;
    display: inline-block;
    transition-delay: 0.8s;
    opacity: 0;
    transform: translate(0%, 100%);
    transition: opacity 0.2s ease, transform 0.3s ease;
    margin-right: 5vw;
}

.nav__list-item a {
    text-decoration: none;
    color: #000;
}

.nav__list-item:before {
    content: "";
    position: absolute;
    background: #000;
    width: calc(2.25vw + 10px);
    height: 1px;
    top: 100%;
    transform: translate(0%, 0%);
    transition: all 0.3s ease;
    z-index: -1;
}

.nav__list-item:hover:before {
    width: 100%;
}

body.nav-active .menu-icon__line {
    background-color: #000;
    transform: translateX(0px) rotate(-45deg);
}

body.nav-active .menu-icon__line-left {
    transform: translateX(1px) rotate(45deg);
}

body.nav-active .menu-icon__line-right {
    transform: translateX(-2px) rotate(45deg);
}

body.nav-active .nav:before, body.nav-active .nav:after {
    transform: translateX(0%) translateY(0%);
}

body.nav-active .nav:after {
    transition-delay: 0.1s;
}

body.nav-active .nav:before {
    transition-delay: 0s;
}

body.nav-active .nav__content {
    height: auto;
    overflow: visible;
}

body.nav-active .nav__list-item {
    opacity: 1;
    transform: translateX(0%);
    transition: opacity 0.3s ease, transform 0.3s ease, color 0.3s ease;
    cursor: pointer;
} 

body.nav-active .nav__list-item:nth-child(0) {
    transition-delay: 0.5s;
}

body.nav-active .nav__list-item:nth-child(1) {
    transition-delay: 0.6s;
}

body.nav-active .nav__list-item:nth-child(2) {
    transition-delay: 0.7s;
}

body.nav-active .nav__list-item:nth-child(3) {
    transition-delay: 0.8s;
}

body.nav-active .nav__list-item:nth-child(4) {
    transition-delay: 0.9s;
}

/* Footer */

footer {
    width: 350px;
    height: 60px;
    background: #F29F05;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: -80px;
    opacity: 0;
}

.index-footer {
    animation: top 0.8s forwards;
    animation-delay: 4s;
}

.about-footer {
    animation: top 0.8s 13.25s forwards;
}

.projects-footer {
    animation: top 0.8s 2s forwards;
}

@keyframes top {
    0% {
        opacity: 0;
        bottom: -80px;
   }
    100% {
        opacity: 1;
        bottom: 0px;
   }
}

footer span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #232323;
    font-family: 'Poppins', sans-serif;
}

footer span i {
    margin-right: 25px;
    font-size: 22px;
    color: #232323;
    opacity: 0;
}

.footer-index-i {
    animation: icon 2s forwards;
    animation-delay: 5s;
}

.footer-about-i {
    animation: icon 2s forwards;
    animation-delay: 14.25s;
}

.footer-projects-i {
    animation: icon 2s 3s forwards;
}

@keyframes icon {
    0% {
        opacity: 0;
        transform: scale(0);
   }
    50% {
        opacity: 1;
        transform: scale(1.3) rotate(-2deg);
   }
    100% {
        opacity: 1;
        bottom: 0px;
   }
}

.scroll-div {
    height: 140px;
    width: 100vw;
    position: absolute;
    bottom: -140px;
    margin: 0;
    right: 0;
}

/* Page Marker and Scroll Down */

.current-page {
    position: absolute;
    z-index: 5;
    left: 3.5vw;
    height: fit-content;
    width: 30px;
    text-align: center;
    color:#fff;
    top: 50%;
    transform: translateY(-50%);
    font-size: calc(.25vw + 10px);
}

.page-marker {
    margin: 30px 0 30px 0;
}

.current-marker {
    color:#F23030;
}

.page-scroll-container {
    color:#F23030;
    text-align: center;
    font-size: 16px;
}

.page-scroll-p {
    position: absolute;
    z-index: 5;
    width: calc(7vw + 30px);
    bottom: 40px;
    animation: getBig 3s infinite;
}

.page-scroll-i {
    position: absolute;
    z-index: 5;
    left: 3.5vw;
    width: 30px;
    bottom: 15px;
    animation: getBig 3s infinite;
}

@keyframes getBig {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}


/* Index */

.index-body.start {
    background-color: #232323;
}

.index-body.scrolled {
    background-color: #232323;
    --wipe-position: 100%;
    --gradient-length: 20%;
    mask-image: linear-gradient(
        to bottom right,
        black var(--wipe-position),
        transparent calc(var(--wipe-position) + var(--gradient-length)),
        transparent
    );
    -webkit-mask-image: linear-gradient(
        to bottom right,
        black var(--wipe-position),
        transparent calc(var(--wipe-position) + var(--gradient-length)),
        transparent
    );
    transition: --wipe-position 2s cubic-bezier(0, 0.55, 0.45, 1);
    --wipe-position: calc(-1 * var(--gradient-length));
    animation: change-color-index 4s cubic-bezier(0, 0.55, 0.45, 1) forwards;
    animation-delay: 4s;
    transition-delay: 4s;
}

@keyframes change-color-index {
    0% {
        background-color: #232323;
    }

    100% {
        background-color: black;
    }
}

.container {
    width: calc(100% - 7vw - 60px);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

.box {
    width: 45vw;
    height: 45vw;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    container-type: inline-size;
    padding-left: 2vw;
}

.title {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    height: 21.87cqw;
}

.title .block {
    width: 0%;
    height: inherit;
    background: #F29F05;
    position: absolute;
    display: flex;   
}

.title .block.start {
    animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
}

.title .block.scrolled {
    animation: mainBlockReverse 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
    animation-delay: 2.8s;
}

.title h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 14cqw;
    display: flex;
    align-items: baseline;
    position: relative;
    opacity: 0;
    color: #CCCCCC;
}

.title h1.start {
    animation: mainFadeIn 2s forwards;
    animation-delay: 1.6s;
    opacity: 0;
}

.title h1.scrolled {
    opacity: 1;
    animation: mainFadeOut 2s forwards;
    animation-delay: 2s;
}

.title h1 span {
    width: 0px;
    height: 0px;
    border-radius: 50%;
    background: #F29F05;
    margin-left: 5px;
    margin-top: -10px;
    position: absolute;
    bottom: 13px;
    right: -4cqw;
}

.title h1 span {
    animation: popIn 0.8s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
    animation-delay: 2s;
}

.role {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    height: 13.12cqw;
    margin-top: -4.36cqw;
}

.role .block {
    width: 0%;
    height: inherit;
    background: #F23030;
    position: absolute;
    display: flex;
}

.role .block.start {
    animation: secBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
    animation-delay: 2s;
}

.role .block.scrolled {
    animation: secBlockReverse 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
    animation-delay: .8s;
}

.role p {
    opacity: 0;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    color: #fff;
    font-size: 5.25cqw;
    text-transform: uppercase;
    letter-spacing: 1.1cqw;
    padding-left: .43cqw;
}

.role p.start {
    animation: secFadeIn 2s forwards;
    animation-delay: 3.2s;
}

.role p.scrolled {
    opacity: .5;
    animation: secFadeOut 2s forwards;
}

@keyframes mainBlock {
    0% {
        width: 0%;
        left: 0;
   }
    50% {
        width: 100%;
        left: 0;
   }
    100% {
        width: 0;
        left: 100%;
   }
}

@keyframes mainBlockReverse {
    0% {
        width: 0%;
        right: 0;
   }
    50% {
        width: 100%;
        right: 0;
   }
    100% {
        width: 0%;
        right: 100%;
   }
}

@keyframes secBlock {
    0% {
        width: 0%;
        left: 0;
   }
    50% {
        width: 100%;
        left: 0;
   }
    100% {
        width: 0;
        left: 100%;
   }
}

@keyframes secBlockReverse {
    0% {
        width: 0%;
        right: 0;
   }
    50% {
        width: 100%;
        right: 0;
   }
    100% {
        width: 0;
        right: 100%;
   }
}

@keyframes mainFadeIn {
    0% {
        opacity: 0;
   }
    100% {
        opacity: 1;
   }
}

@keyframes mainFadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes popIn {
    0% {
        width: 0px;
        height: 0px;
        background-color: #F29F05;
        border: 0px solid #ddd;
        opacity: 0;
   }
    50% {
        width: 3.5cqw;
        height: 3.5cqw;
        background: #F2CB05;
        opacity: 1;
        bottom: 9.84cqw;
   }
    65% {
        width: 3cqw;
        height: 3cqw;
        bottom: 0px;
   }
    80% {
        width: 3.5cqw;
        height: 3.5cqw;
        bottom: 4.3cqw;
   }
    100% {
        width: 3cqw;
        height: 3cqw;
        background: #F29F05;
        border: 0px solid #222;
        bottom: 2.8cqw;
   }
}

@keyframes popOut {
    0% {
        width: 3cqw;
        height: 3cqw;
        background: #F29F05;
        border: 0px solid #222;
        bottom: 2.8cqw;
   }

    20% {
        width: 3.5cqw;
        height: 3.5cqw;
        bottom: 4.3cqw;
    }

    35% {
        width: 3cqw;
        height: 3cqw;
        bottom: 0px;
    }

    50% {
        width: 3.5cqw;
        height: 3.5cqw;
        background: #F2CB05;
        opacity: 1;
        bottom: 9.84cqw;
    }

    100% {
        width: 0px;
        height: 0px;
        background-color: #F29F05;
        border: 0px solid #ddd;
        opacity: 0;
   }
}

@keyframes secFadeIn {
    0% {
        opacity: 0;
   }
    100% {
        opacity: 0.5;
   }
}

@keyframes secFadeOut {
    0% {
        opacity: .5;
    }
    100% {
        opacity: 0;
    }
}

/* About */

.about-container {
    height: calc(100vh - 60px);
}

.fly-out {
    height: calc(100vh - 60px);
    width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 15vw;
}

.fly-out.scrolled {
    animation: fly-out 2s linear forwards;
}

@keyframes fly-out {
    0% { 
        opacity: 1;
        filter: blur(0); 
        transform:scale(.9);
        visibility: visible;
    }
    80% {
        opacity: 1;
        filter: blur(10px); 
        transform:scale(.1);
        visibility: visible;
    }
    100% { 
        opacity: 0;
        visibility: hidden;
        transform: scale(0);
    }
}

.about-img {
    border-radius: 50%;
    float: right;
    width: 20vw;
    height: 20vw;
    shape-outside: circle();
    padding: .5vw;
    border: .25vw solid #CCCCCC;
    margin: 2vw;
    animation: floatBubble 2s forwards;
    position: relative;
    filter: brightness(80%);
    top: -100vh;
} 

@keyframes floatBubble {
    0% {
        top: -100vh;
        animation-timing-function: ease-in;
    }
    33% {
        top: 0;
        animation-timing-function: ease-out;
    }
    66% {
        top: 10vh;
        animation-timing-function: ease-in;
    }
    100% {
        top: 0;
        animation-timing-function: ease-out;
    }
}  

.neon {
    overflow: hidden;
    filter: brightness(200%);
    position: relative;
    left: 2vw;
    animation: blurFade 2s linear 1.75s normal forwards;
    opacity: 0;
    margin-bottom: 1vh;
}

.about-h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: right;
    color: white;
    margin: 0;
    user-select: none;
    font-size: calc(2.25vw + 10px);
    background-color: black;
    position: relative;
}

.about-h1::before {
    content: attr(data-text);
    position: absolute;
    color: white;
    filter: blur(0.02em);
    mix-blend-mode: difference;
}

@keyframes blurFade {
    0% {
        opacity: 0;
        filter: blur(20px);
    }
    100% {
        opacity: 1;
        filter: blur(0);
    }
}

.gradient {
    position: absolute;
    background: linear-gradient(45deg, red, gold, lightgreen, gold, red);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    mix-blend-mode: multiply;
}

.spotlight {
    position: absolute;
    top: -100%;
    left: -100%;
    right: 0;
    bottom: 0;
    background: 
        radial-gradient(
            circle,
            #8C8C8C,
            transparent 100%
        ) center / 25% 25%,
        radial-gradient(
            circle,
            #8C8C8C,
            black 25%
        ) center / 12.5% 12.5%;
    animation: light 25s linear infinite;
    mix-blend-mode: color-dodge;
}

@keyframes light {
    to {
        transform: translate(50%, 50%);
    }
}

.about-p {
    font-size: calc(.75vw + 10px);
    font-weight: 100;
    font-family: 'Vollkorn', serif;
    line-height: 1.3;
    text-align: justify;
    color: #CCCCCC;
    position: relative;
    opacity: 0;
    animation: enterLeft 1s 1s forwards;
    left: -100vw;
}

@keyframes enterLeft {
    0% {
        left: -100vw;
        animation-timing-function: ease-in;
        opacity: 0;
    }
    100% {
        left: 0;
        animation-timing-function: ease-out;
        opacity: 1;
    }
}

.skills-h1 {
    font-family: 'Poppins', sans-serif;
    font-size: calc(2.25vw + 10px);
    background: 50% 100% / 50% 50% no-repeat
              radial-gradient(ellipse at bottom, #fff, transparent, transparent);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: reveal 3000ms ease-in-out forwards 200ms, glow 5s linear infinite 2000ms;
    animation-delay: 5s;
    opacity: 0;
    margin: 0 0 4vh 0;
}

@keyframes reveal {
    0% {
        opacity: 1;
    }
    80%{
      letter-spacing: 8px;
      opacity: 1;
    }
    100% {
      background-size: 300% 300%;
      opacity: 1;
    }
}

@keyframes glow {
    40% {
      text-shadow: 0 0 8px #fff;
      opacity: 1;
    }
}

.skills-img-container {
    font-size: 3vw;
    color:#F2CB05;
}

html.fa-events-icons-loading .skills-img-container {
  visibility: hidden;
}

.skills-img-container i {
    opacity: 0;
    animation: flip .25s 1 forwards;
    animation-delay: calc(.25s * var(--i) + 8s)
}

.skills-img-container svg {
    opacity: 0;
    height: 3vw;
    width: 3vw;
    animation: flip .25s 1 forwards;
    animation-delay: calc(.25s * var(--i) + 8s)
}

@keyframes flip {
    0% {
        opacity: 0;
    }
    100% {
      transform: rotateY(360deg);
      opacity: 1; 
    }
  }

  /* Projects */

  .projects-container {
    width: 70vw;
    height: calc(100vh - 60px);
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0 15vw;
    padding: 5vh 0;
  }

  .projects-neon {
    overflow: hidden;
    filter: brightness(200%);
    position: relative;
    animation: blurFade 2s linear normal forwards;
    opacity: 0;
    margin-bottom: 1vh;
}

  .projects-h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    margin: 0;
    user-select: none;
    font-size: calc(2.5vw + 10px);
    background-color: black;
    position: relative;
}

.projects-h1::before {
    content: attr(data-text);
    position: absolute;
    color: white;
    filter: blur(0.02em);
    mix-blend-mode: difference;
}

.project-container {
    width: 70vw;
    background-color: #CCCCCC;
    padding: 2vw;
    border-radius: 50px;
    margin: 3vh 0;
    background-image: url("./pics/scratched.webp");
    background-repeat: none;
    overflow: hidden;
    background-size: cover;
    border: #CCCCCC solid 5px;
}

.project-container.start {
    animation: fly-in 2s ease-out normal forwards;
    opacity: 0;
    visibility: hidden; 
}

@keyframes fly-in {
    0% { 
        opacity: 0;
        transform:scale(0);
        visibility: hidden;
        filter: blur(10px); 
    }
   
    100% { 
        opacity: 1;
        filter: blur(0); 
        transform:scale(1);
        visibility: visible;
    }
}

.project-visible {
    display: block;
}

.project-hidden {
    display: none;
}

.project-img {
    width: 40vw;
    height: auto;
    float: left;
    margin: 0 2vw 2vw 0;
    border-radius: 5px;
}

.project-h2 {
    font-size: calc(1.5vw + 10px);
    margin: 0 0 15px 0;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    text-shadow: white 10px 5px 8px, white -10px -5px 8px;
    color: #267365;
    -webkit-text-stroke: 1px white;
}

.project-p {
    text-align: justify;
    font-family: 'Vollkorn', serif;
    font-size: calc(.65vw + 10px);
    font-weight: 900;
    text-shadow: white 10px 5px 8px, white -10px -5px 8px;
    line-height: calc(1vw + 10px);
}

.project-a {
    font-size: calc(1.25vw + 10px);
    color:#F23030;
    display: block;
    text-align: center;
    clear: both;
    margin-top: 20px;
    font-weight: 900;
    font-family: 'Lato', sans-serif;
    text-shadow: white 10px 5px 8px, white -10px -5px 8px;
    text-decoration: none;
    -webkit-text-stroke: 1px white;
}

.project-a:hover {
    color: #F28705;
}

.projects-buttons {
    width: 70vw;
    font-size: calc(1.5vw + 10px);
    display: flex;
    justify-content: space-evenly;
    animation: blurFade 2s linear normal forwards;
}

.projects-buttons button {
    cursor: pointer;
    color:white;
    background-color:#232323;
    padding: 0 5px;
    border-radius: 50%;
}

@property --wipe-position {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 100%;
}

.projects-body.scrolled {
    background-color: #000;
    --wipe-position: 100%;
    --gradient-length: 20%;
    mask-image: linear-gradient(
        to bottom right,
        #232323 var(--wipe-position),
        transparent calc(var(--wipe-position) + var(--gradient-length)),
        transparent
    );
    -webkit-mask-image: linear-gradient(
        to bottom right,
        #232323 var(--wipe-position),
        transparent calc(var(--wipe-position) + var(--gradient-length)),
        transparent
    );
    transition: --wipe-position 2s cubic-bezier(0, 0.55, 0.45, 1);
    --wipe-position: calc(-1 * var(--gradient-length));
    animation: change-color 4s cubic-bezier(0, 0.55, 0.45, 1) forwards;
}

@keyframes change-color {
    0% {
        background-color: #000;
    }

    100% {
        background-color: #232323;
    }
}

/* Media */

@media only screen and (max-width: 1350px) {
    .skills-h1 {
        margin-top: 7vh;
    }
}

@media only screen and (max-width: 1000px) {
    .project-container {
        padding: 5vw;
      }
}

@media only screen and (max-width: 760px) {
    .project-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .project-visible {
        display: flex;
      }
    
    .project-hidden {
        display: none;
      }

    .project-img {
        float: none;
        margin: 0;
    }

    .project-h2 {
        margin: 2vh 0;
    }

    .project-a {
        margin: 3vh 0 1vh 0;
    }
}

@media only screen and (max-width: 725px) {
    .neon {
        left: 2vw;
    }

    .about-h1::before {
        content: "Hello!";
    }

    .welcome-span {
        display: none;
    }
}

@media only screen and (max-width: 650px) {
    .nav__list-item {
        display: block;
        margin-bottom: 6vh;
        width: fit-content;
    }

    .nav__content {
        font-size: 8vw;
        display: flex;
        justify-content: center;
    }

    .nav__list-item:before {
        width: 6.25vw;
    }

    .nav__list {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        width: fit-content;
    }

    .box {
        width: 70vw;
        height: 70vw;
    }

    footer {
        width: 100vw;
    }

    .page-scroll-p {
        bottom: 95px;
        font-size: calc(1vw + 10px);
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }
    
    .page-scroll-i {
        bottom: 70px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 480px) {
    .projects-container {
        height: calc(85vh - 60px);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
    }
}

@media only screen and (max-height: 550px) {
    .menu-icon {
        height: 20px;
        width: 20px;
        left: 1.5vw;
        top: 10px;
    }

    .menu-icon__line {
        height: 2px;
        width: 20px;
    }

    .menu-icon__line-left {
        width: 10px;
    }
    
    .menu-icon__line-right {
        width: 10px;
    }

    body.nav-active .menu-icon__line-left {
        transform: translate(1px, 2px) rotate(45deg);
    }
    
    body.nav-active .menu-icon__line-right {
        transform: translate(-1px, -2px) rotate(45deg);
    }

    .current-page {
        left: 1.5vw;
        width: 20px;
        font-size: calc(.25vw + 10px);
    }
    
    .page-marker {
        margin: 10px 0 10px 0;
    }
    
    .page-scroll-p {
        left: 1.5vw;
        bottom: 5px;
    }
    
    .page-scroll-i {
        left: 13vw;
        bottom: 6px;
    }

    footer {
        height: 30px;
        width: 300px;
    }

    .about-container {
        height: calc(100vh - 30px);
    }

    .fly-out {
        width: auto;
        height: calc(100vh - 40px);
        margin: 0 calc(20px - 2vw) 0px calc(1.5vw + 40px);
        padding-top: 10px;
    } 

    .about-float-container {
        overflow-y:auto;
    }

    @keyframes floatBubble {
        0% {
            top: -100vh;
            animation-timing-function: ease-in;
        }
        33% {
            top: 0;
            animation-timing-function: ease-out;
        }
        66% {
            top: 3.7vh;
            animation-timing-function: ease-in;
        }
        100% {
            top: 0;
            animation-timing-function: ease-out;
        }
    }  

    .about-p {
        padding-right: 2vw;
    }

    .skills-h1 {
        margin-top: 5vh;
    }

    .projects-container {
        height: calc(100vh - 30px);
        width: auto;
        margin: 0 calc(1.5vw + 40px);
        padding: 8px 0;
    } 

    .project-container {
        width: 100%;
        max-height: 60vh;
        border-radius: 2px;
        padding: 2vw;
        height: auto;
        overflow-y:auto;
        scrollbar-color: #232323 #fff;
        scrollbar-width: 5px;
    }

    .project-container::-webkit-scrollbar {
        width: 5px;
        background-color: #fff;
    }
    
    .project-container::-webkit-scrollbar-thumb {
        background: #232323;
        border-radius: 2px;
    }

    .project-visible {
        display: inline-block;
    }

    .project-img {
        float: left;
        margin: 0 2vw 2vw 0;
    }

    .projects-buttons {
        font-size: calc(.75vw + 10px);
    }
}
