@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Poppins:300,400,800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    overflow: hidden;
}

body {
    background-color: #1e2023;
    font-family: 'Lato';
    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
}

/* Nav */

.menu-icon {
    height: 30px;
    width: 30px;
    position: fixed;
    z-index: 2;
    left: 3.5vw;
    top: 30px;
    cursor: pointer;
}

.menu-icon__line {
    height: 2px;
    width: 30px;
    display: block;
    background-color: #fff;
    margin-bottom: 4px;
    transition: transform 0.2s ease, background-color 0.5s ease;
}

.menu-icon__line-left {
    width: 15px;
}

.menu-icon__line-right {
    width: 15px;
    float: right;
}

.nav {
    position: fixed;
    z-index: 1;
}

.nav:before, .nav:after {
    content: "";
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(234, 234, 234, .2);
    z-index: -1;
    transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
    transform: translateX(0%) translateY(-100%);
}

.nav:after {
    background: #F29F05;
    transition-delay: 0s;
}

.nav:before {
    transition-delay: 0.1s;
}

.nav__content {
    position: fixed;
    top: 50%;
    transform: translate(0%, -50%);
    width: 100%;
    text-align: center;
    font-size: calc(3vw + 10px);
    font-weight: 200; 
}

.nav__list-item {
    position: relative;
    display: inline-block;
    transition-delay: 0.8s;
    opacity: 0;
    transform: translate(0%, 100%);
    transition: opacity 0.2s ease, transform 0.3s ease;
    margin-right: 5vw;
}

.nav__list-item:before {
    content: "";
    position: absolute;
    background: #000;
    width: calc(2.25vw + 10px);
    height: 1px;
    top: 100%;
    transform: translate(0%, 0%);
    transition: all 0.3s ease;
    z-index: -1;
}

.nav__list-item:hover:before {
    width: 100%;
}

body.nav-active .menu-icon__line {
    background-color: #000;
    transform: translateX(0px) rotate(-45deg);
}

body.nav-active .menu-icon__line-left {
    transform: translateX(1px) rotate(45deg);
}

body.nav-active .menu-icon__line-right {
    transform: translateX(-2px) rotate(45deg);
}

body.nav-active .nav {
    visibility: visible;
}

body.nav-active .nav:before, body.nav-active .nav:after {
    transform: translateX(0%) translateY(0%);
}

body.nav-active .nav:after {
    transition-delay: 0.1s;
}

body.nav-active .nav:before {
    transition-delay: 0s;
}

body.nav-active .nav__list-item {
    opacity: 1;
    transform: translateX(0%);
    transition: opacity 0.3s ease, transform 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

body.nav-active .nav__list-item:nth-child(0) {
    transition-delay: 0.5s;
}

body.nav-active .nav__list-item:nth-child(1) {
    transition-delay: 0.6s;
}

body.nav-active .nav__list-item:nth-child(2) {
    transition-delay: 0.7s;
}

body.nav-active .nav__list-item:nth-child(3) {
    transition-delay: 0.8s;
}

body.nav-active .nav__list-item:nth-child(4) {
    transition-delay: 0.9s;
}

/* Main */

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container .box {
    width: 45vw;
    height: 45vw;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    container-type: inline-size;
    padding-left: 2vw;
}
.container .box .title {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    height: 21.87cqw;
}
.container .box .title .block {
    width: 0%;
    height: inherit;
    background: #F29F05;
    position: absolute;
    animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
    display: flex;
}
.container .box .title h1 {
    font-family: 'Poppins';
    color: #fff;
    font-size: 14cqw;
    -webkit-animation: mainFadeIn 2s forwards;
    -o-animation: mainFadeIn 2s forwards;
    animation: mainFadeIn 2s forwards;
    animation-delay: 1.6s;
    opacity: 0;
    display: flex;
    align-items: baseline;
    position: relative;
}
.container .box .title h1 span {
    width: 0px;
    height: 0px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #F29F05;
    -webkit-animation: load 0.6s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
    animation: popIn 0.8s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
    animation-delay: 2s;
    margin-left: 5px;
    margin-top: -10px;
    position: absolute;
    bottom: 13px;
    right: -4cqw;
}
.container .box .role {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    height: 13.12cqw;
    margin-top: -4.36cqw;
}
.container .box .role .block {
    width: 0%;
    height: inherit;
    background: #F23030;
    position: absolute;
    animation: secBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
    animation-delay: 2s;
    display: flex;
}
.container .box .role p {
    animation: secFadeIn 2s forwards;
    animation-delay: 3.2s;
    opacity: 0;
    font-weight: 400;
    font-family: 'Lato';
    color: #fff;
    font-size: 5.25cqw;
    text-transform: uppercase;
    letter-spacing: 1.1cqw;
    padding-left: .43cqw;
}
@keyframes mainBlock {
    0% {
        width: 0%;
        left: 0;
   }
    50% {
        width: 100%;
        left: 0;
   }
    100% {
        width: 0;
        left: 100%;
   }
}
@keyframes secBlock {
    0% {
        width: 0%;
        left: 0;
   }
    50% {
        width: 100%;
        left: 0;
   }
    100% {
        width: 0;
        left: 100%;
   }
}
@keyframes mainFadeIn {
    0% {
        opacity: 0;
   }
    100% {
        opacity: 1;
   }
}
@keyframes popIn {
    0% {
        width: 0px;
        height: 0px;
        background-color: #F29F05;
        border: 0px solid #ddd;
        opacity: 0;
   }
    50% {
        width: 3.5cqw;
        height: 3.5cqw;
        background: #F2CB05;
        opacity: 1;
        bottom: 9.84cqw;
   }
    65% {
        width: 3cqw;
        height: 3cqw;
        bottom: 0px;
   }
    80% {
        width: 3.5cqw;
        height: 3.5cqw;
        bottom: 4.3cqw;
   }
    100% {
        width: 3cqw;
        height: 3cqw;
        background: #F29F05;
        border: 0px solid #222;
        bottom: 2.8cqw;
   }
}
@keyframes secFadeIn {
    0% {
        opacity: 0;
   }
    100% {
        opacity: 0.5;
   }
}

/* Footer */

footer {
    width: 350px;
    height: 60px;
    background: #F29F05;
    position: absolute;
    right: 0;
    bottom: -80px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: top 0.8s forwards;
    animation-delay: 4s;
}

footer span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #232323;
    font-family: 'Poppins';
}

footer span svg {
    margin-right: 25px;
    font-size: 22px;
    color: #232323;
    animation: icon 2s forwards;
    animation-delay: 4s;
    opacity: 0;
    height: 30px;
    width: auto;
}

@keyframes top {
    0% {
        opacity: 0;
        bottom: -80px;
   }
    100% {
        opacity: 1;
        bottom: 0px;
   }
}

@keyframes icon {
    0% {
        opacity: 0;
        transform: scale(0);
   }
    50% {
        opacity: 1;
        transform: scale(1.3) rotate(-2deg);
   }
    100% {
        opacity: 1;
        bottom: 0px;
   }
}

@media only screen and (max-width: 650px) {
    .nav__list-item {
        display: block;
        margin-bottom: 6vh;
        width: fit-content;
    }

    .nav__content {
        font-size: 8vw;
        display: flex;
        justify-content: center;
    }

    .nav__list-item:before {
        width: 6.25vw;
    }

    .nav__list {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        width: fit-content;
    }

    .container .box {
        width: 80vw;
        height: 80vw;
    }

    footer {
        width: 100vw;
    }
}
